@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --green: #27ae60;
  --black: #192a56;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: var(--green);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;



}

.btn:hover {
  background: var(--green);


}

.navbar navbar-expand-lg navbar-light shadow {
  max-width: 150px;
  size: 50px;
}

/*





  /* Typography */
body,
ul,
li,
p,
a,
label,
input,
div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}





.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo {
  font-weight: 500 !important;
}

.text-warning {
  color: #ede861 !important;
}

.text-muted {
  color: #bcbcbc !important;
}

.text-success {
  color: #59ab6e !important;
}

.text-light {
  color: #cfd6e1 !important;
}

.bg-dark {
  background-color: #212934 !important;
}

.bg-light {
  background-color: #e9eef5 !important;
}

.bg-black {
  background-color: #1d242d !important;
}

.bg-success {
  background-color: #59ab6e !important;
}

.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}

.pagination .page-link:hover {
  color: #000;
}

.pagination .page-link:hover,
.pagination .page-link.active {
  background-color: #69bb7e;
  color: #fff;
}

Nav */ #templatemo_nav_top {
  min-height: 40px;
}

#templatemo_nav_top * {
  font-size: .9em !important;
}

#templatemo_main_nav a {
  color: #212934;
}

#templatemo_main_nav a:hover {
  color: #69bb7e;
}

#templatemo_main_nav .navbar .nav-icon {
  margin-right: 20px;
}


/* Small devices (landscape phones, 576px and up)*/
.product-wap .h3,
.product-wap li,
.product-wap i,
.product-wap p {
  font-size: 12px !important;
}

.product-wap .product-color-dot {
  width: 6px;
  height: 6px;
}

@media (min-width: 576px) {
  .tempaltemo-carousel .h1 {
    font-size: 1em !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #templatemo_main_nav .navbar-nav {
    max-width: 550px;
  }

  #template-mo-zay-hero-carousel .carousel-item {
    min-height: 30rem !important;
  }

  .product-wap .h3,
  .product-wap li,
  .product-wap i,
  .product-wap p {
    font-size: 18px !important;
  }

  .product-wap .product-color-dot {
    width: 12px;
    height: 12px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
/* @media (min-width: 1200px) {} */


/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: .5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

header .icons #menu-bars {
  display: none;
} */

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: .1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--green);
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
 
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
  width: 100%;
}

.home .home-slider .slide .content span {
  color: var(--green);
  font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
  color: var(--black);
  font-size: 7rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: .5rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active {
  background: var(--green);
}

/* /..../ */
.category .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.category .box-container .box {
  position: relative;
  flex: 1 1 23rem;
  height: 35rem;
  overflow: hidden;
  border: .1rem solid rgba(0, 0, 0, .3);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.category .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category .box-container .box .content {
  position: absolute;
  bottom: -5.5rem;
  background: #fff;
  border-top: .1rem solid rgba(0, 0, 0, .3);
  text-align: center;
  padding: .5rem 0;
  width: 100%;
}

.category .box-container .box:hover .content {
  bottom: 0;
}

.category .box-container .box .content h3 {
  color: #333;
  font-size: 2.5rem;
  padding: .5rem 0;
}

.category .box-container .box .content .btn {
  margin-bottom: 1.3rem;
}

/* /../ */
.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.product .box-container .box {
  flex: 1 1 30rem;
  border: .1rem solid rgba(0, 0, 0, .3);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  text-align: center;
  position: relative;
  overflow: hidden;
}

.product .box-container .box img {
  height: 30rem;
  width: 100%;
  border-bottom: .1rem solid rgba(0, 0, 0, .3);
  object-fit: cover;
}

.product .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(0, 255, 0, .1);
  color: var(--green);
  font-size: 2rem;
  padding: .5rem 1rem;
}

.product .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: -8rem;
  display: flex;
  flex-flow: column;
  background: #fff;
  border-radius: 5rem;
  padding: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.product .box-container .box:hover .icons {
  right: 1rem;
}

.product .box-container .box .icons a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
  color: #333;
  border-radius: 5rem;
  margin: .1rem;
}

.product .box-container .box .icons a:hover {
  color: #fff;
  background: var(--green);
}

.product .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.product .box-container .box .stars i {
  color: gold;
  font-size: 2rem;
}

.product .box-container .box .quantity {
  padding: 1rem 0;
}

.product .box-container .box .quantity span {
  font-size: 2rem;
}

.product .box-container .box .quantity input {
  font-size: 2rem;
  padding: .5rem;
  text-align: center;
  background: rgba(0, 0, 0, .1);
}

.product .box-container .box .price {
  font-weight: bolder;
  color: var(--green);
  font-size: 2rem;
}

.product .box-container .box .price span {
  text-decoration: line-through;
  color: #999;
  font-size: 1.5rem;
}

.product .box-container .box .btn {
  display: block;
  margin: 2rem;
}

/* /.../ */

.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.icons-container .icon {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icon .content {
  padding-left: 2rem;
}

.icons-container .icon .content h3 {
  font-size: 2rem;
  color: var(--green);
}

.icons-container .icon .content p {
  font-size: 1.5rem;
  color: #666;
}

.deal .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.deal .row .image {
  flex: 1 1 40rem;
}

.deal .row .image img {
  width: 100%;
}

.deal .row .content {
  flex: 1 1 40rem;
}

.deal .row .content .title {
  font-size: 3.5rem;
  color: #333;
}

.deal .row .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}

.deal .row .content .count-down {
  display: flex;
  padding: 1rem 0;
  gap: 1.5rem;
}

.deal .row .content .count-down .box {
  width: 9rem;
  text-align: center;
  border: .1rem solid rgba(0, 0, 0, .3);
}

.deal .row .content .count-down .box h3 {
  font-size: 5rem;
  color: #333;
}

.deal .row .content .count-down .box span {
  font-size: 1.7rem;
  color: #fff;
  display: block;
  background: #666;
  padding: .5rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  border: .1rem solid rgba(0, 0, 0, .3);
}

.contact .row .map {
  width: 100%;
  flex: 1 1 40rem;
}

.contact .row form {
  padding: 2rem;
  flex: 1 1 40rem;
}

.contact .row form .inputBox {
  position: relative;
}

.contact .row form .inputBox input,
.contact .row form .inputBox textarea {
  width: 100%;
  border-bottom: .1rem solid rgba(0, 0, 0, .3);
  padding: 1rem 0;
  margin: 1.5rem 0;
  font-size: 1.7rem;
  text-transform: none;
  color: #333;
}

.contact .row form .inputBox textarea {
  resize: none;
  height: 15rem;
}

.contact .row form .inputBox input:focus,
.contact .row form .inputBox textarea:focus {
  border-color: var(--green);
}

.contact .row form .inputBox label {
  position: absolute;
  top: 2.3rem;
  left: 0;
  font-size: 1.7rem;
}

.contact .row form .inputBox input:focus~label,
.contact .row form .inputBox textarea:focus~label,
.contact .row form .inputBox input:valid~label,
.contact .row form .inputBox textarea:valid~label {
  top: -.1rem;
  font-size: 1.5rem;
  color: #666;
}

/* /.../ */


.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  padding: .5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  padding: .5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
  color: #000;
  text-decoration: none;
}

.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  font-size: 2rem;
  color: var(--black);
  padding: .5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: var(--green);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-container img {
  width: 35rem;
}

.loader-container.fade-out {
  top: -110%;
  opacity: 0;
}

/* media queries  */

@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }


}

@media (max-width:768px) {

  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .2);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }

}

@media (max-width:450px) {

  html {
    font-size: 50%;
  }

  .dishes .box-container .box img {
    height: auto;
    width: 100%;
  }

  .order form .inputBox .input {
    width: 100%;
  }

}

/* /../ */
.review {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box {
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.review .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.review .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.review .box .user h3 {
  font-size: 2.2rem;
  color: #222;
}

.review .box .user span {
  font-size: 1.4rem;
  color: #bac34e;
}

.review .box p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
}

/* /.../ */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40rem;
  flex: 1 1 40rem;
}

.about .content span {
  color: #bac34e;
  font-size: 2.5rem;
}

.about .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: .5rem;
}

.about .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2;
  padding: 1rem 0;
}

/* //..// */
.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5rem 0;
  position: absolute;
  bottom: -6rem;
  left: 0;
  right: 0;
  z-index: 10;
}

.gallery .box-container .box .icons a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 1.5rem;
}

.gallery .box-container .box .icons a:hover {
  color: #bac34e;
}

/* ///..// */


.home1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home1 .image {
  flex: 1 1 40rem;
  padding-top: 5rem;
}

.home1 .image img {
  width: 100%;
}

.home1 .content {
  flex: 1 1 40rem;
}

.home1 .content span {
  font-size: 3rem;
  color: #666;
}

.home1 .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.contact form {
  text-align: center;
  padding: 2rem;
  border: .1rem solid rgba(0, 0, 0, .3);
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  padding: 1rem;
  font-size: 1.7rem;
  background: #f7f7f7;
  text-transform: none;
  margin: 1rem 0;
  border: .1rem solid rgba(0, 0, 0, .3);
  width: 49%;
}

.contact form textarea {
  height: 20rem;
  resize: none;
  width: 100%;
}

/* /SHOPPINGCART/ */

.container {

  max-width: 1200px;

  margin: 0 auto;

}

.container>h1 {

  padding: 20px 0;

}

.cart {

  display: flex;

}

.products {

  flex: 0.75;

}

.product1 {

  display: flex;

  width: 100%;

  height: 200px;

  overflow: hidden;

  border: 1px solid silver;

  margin-bottom: 20px;

}

.product1:hover {

  border: none;

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  transform: scale(1.01);

}

.product1>img {

  width: 300px;

  height: 200px;

  object-fit: cover;

}

.product1>img:hover {

  transform: scale(1.04);

}

.product1-info {

  padding: 20px;

  width: 100%;

  position: relative;

}

.product1-name,
.product1-price,
.product1-offer {

  margin-bottom: 20px;

}

.product1-remove {

  position: absolute;

  bottom: 20px;

  right: 20px;

  padding: 10px 25px;

  background-color: green;

  color: white;

  cursor: pointer;

  border-radius: 5px;

}

.product1-remove:hover {

  background-color: white;

  color: green;

  font-weight: 600;

  border: 1px solid green;

}

.product1-quantity>input {

  width: 40px;

  padding: 5px;

  text-align: center;

}

.fa {

  margin-right: 5px;

}

.cart-total {

  flex: 0.25;

  margin-left: 20px;

  padding: 20px;

  height: 240px;

  border: 1px solid silver;

  border-radius: 5px;

}

.cart-total p {

  display: flex;

  justify-content: space-between;

  margin-bottom: 30px;

  font-size: 20px;

}

.cart-total a {

  display: block;

  text-align: center;

  height: 40px;

  line-height: 40px;

  background-color: tomato;

  color: white;

  text-decoration: none;

}

.cart-total a:hover {

  background-color: red;

}

@media screen and (max-width: 700px) {

  .remove {

    display: none;

  }

  .product {

    height: 150px;

  }

  .product1>img {

    height: 150px;

    width: 200px;

  }

  .product1-name,
  .product1-price,
  .product1-offer {

    margin-bottom: 10px;

  }

}

@media screen and (max-width: 900px) {

  .cart {

    flex-direction: column;

  }

  .cart-total {

    margin-left: 0;

    margin-bottom: 20px;

  }

}

@media screen and (max-width: 1220px) {

  .container {

    max-width: 95%;

  }

}

/* /.../ */